body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.top-nav {
  background-color: white;
  overflow: hidden;
  border-bottom: 0.5px solid #d8d8d8;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: right ;
  padding: 0px;
}

.nav-links li {
  list-style-type: none;
  padding: 10px;
}

/* style nav links */
.nav-links a {
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  color: black;
  padding: 10px;
  border: 0.5px solid #d8d8d8;
}

/* style hover */
.nav-links a:hover {
  background-color: #edd9ed;
  color: black;
}
